@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Schoolbell);
html {
  min-height: 100%;
  height: 100%;
}
body {
background: url(../img/bkg.jpg);
background-size: cover;
color: white;
background-attachment: fixed;
padding: 20px;



  font-family: sans-serif;
  font-size: 12px;
}
label {
  font-size: 18px;
  text-transform: uppercase;
}
div { margin: auto; }
#tic-tac-toe { display: none; min-height: 100%; }
#title-page {
  text-align: center;
  font-family: 'Oswald';
  font-size: 12px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: url(../img/title.jpg);
background-size: cover;
background-attachment: fixed;

}
#title {
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 60px;
}
#push-messages {
  min-height: 50px;
  padding: 10px;
  padding-top: 0;
  font-size: 18px;
}
#play {
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid #ffffff;
  width: 180px;
  color: black;
  background-color: rgba(255,255,255,.7);
-webkit-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.71);
-moz-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.71);
box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.71);
}
#playable {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: auto;
  min-height: 100%; 
}
.emphasis {
  font-style: oblique;
}
#quit {
  cursor: pointer;
  color: #ff5555;
}
#game-page #push-messages {
  min-height: 50px;
}
#player-mark {
  font-family: 
}
#board #board-table {
  width: 100%;
  min-height: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  min-height: 100%; 
  margin-bottom: 50px;
}
#board #board-table .block {
  border: 2px solid #ffffff;
  width: auto;
  min-width: 100px;
  min-height: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 48px;

}
#board #board-table .block.right {
  border-right: 0;
}
#board #board-table .block.top {
  border-top: 0;
}
#board #board-table .block.left {
  border-left: 0;
}
#board #board-table .block.bottom {
  border-bottom: 0;
}

#board #board-table div.winning-move {
  color: #1ad900;
}
#times-won {
  margin-top: 10px;
  padding-left: 20px;
  padding: 5px;
}
#times-won div {
  display: inline-block;
  margin: 0 10px;
}
hr {
  height: 0;
  border: none;
  border-top: 1px solid #bababa;
}
#quit-2 {
  float: right;
  cursor: pointer;
}